<% provide(:title, @user_type.name) %>
<div class="row">
  <div id="reg_form" class="bg_form">
    <h2>Tipo de usuario</h2>
		<p>
		  <b>Nombre:</b>
		  <%= @user_type.name %>
		</p>
    <hr>
    <%= link_to 'Editar', edit_user_type_path(@user_type) %> |
		<%= link_to 'Regresar', user_types_path %>
  </div>
</div>