@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('font/websymbols/websymbols-regular-webfont.eot');
    src: url('font/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('font/websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('font/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EuroFurence';
    src: url('font/eurofurence/eurof35.eot');
    src: url('font/eurofurence/eurof35.eot?#iefix') format('embedded-opentype'),
        url('font/eurofurence/eurof35.woff') format('woff'),
        url('font/eurofurence/eurof35.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}