body {
  background-color: #161616;
  background-repeat:no-repeat;
  margin:0;
  /*background-image: linear-gradient(top, rgba(28,28,28,0.9) 0%, rgba(16,16,16,1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(28,28,28,0.9) 0%, rgba(16,16,16,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(28,28,28,0.9) 0%, rgba(16,16,16,1) 100%);
  background-image: -o-linear-gradient(top, rgba(28,28,28,0.9) 0%, rgba(16,16,16,1) 100%);
  background-image: -ms-linear-gradient(top, rgba(28,28,28,0.9) 0%, rgba(16,16,16,1) 100%);*/
}

header img{
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 25%;
}

#btn_login, #btn_logout {
  width: 130px;
  height: 35px;
  margin-left: 50px;
}